# .gitignore for Django projects

### Django ###
*.log
*.pot
*.pyc
__pycache__/
user/__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
settings.py
!.env
*.md
*.log

# Ignore unwanted text files
*engineering_req.txt